/* Your CSS Code here. */
.nav-1{
	width:100%;
	color:white;
	background-color:skyblue;
	padding:30px;
	border-color: 5px solid blue:
}
.nav-2{

	color:white;
	font-size:30px;
	margin:20px;
	
	
}
#img-1{
	width:700px;
	height:400px;
}